@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600);

body {
  font-family: 'Source Serif Pro', serif;
  color: white;
  margin: 0;
  counter-reset: section;
}

img {
  width: 114vh;
  height: 100%;
  border: 8px solid white;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.35);
  margin-right: 4vh;
  float: left;
}

.container {
  width: 100%;
  height: 100vh;
  counter-reset: subsection;
}

.img-container {
  padding-top: 10vh;
  padding-left: 6vh;
}

p {
  padding-top: 70.5vh;
  font-size: 3vh;
}

p span {
  display: block;
  font-size: 2vh;
}
p span:before {
    counter-increment: section;
    content: "Fig. " counter(section) "";
}
